<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>

    <%- include('nav.html') %>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <ul class="list-group">
      <% for (var i = 0; i < posts.length; i++){ %>
      <li class="list-group-item">
        <h4> 글번호 : <%= posts[i]._id %> </h4>
        <p> 작성자 : <%= posts[i].작성자 %> </p>
        <h4> 할일 제목 : <%= posts[i].제목 %> </h4>
        <p> 할일 마감날짜 : <%= posts[i].날짜 %> </p>
        <button class="delete btn btn-danger" data-id="<%= posts[i]._id %>">삭제</button>
        <button class="edit btn btn-primary" data-id="<%= posts[i]._id %>">수정</button>
      </li>
      <% } %>
    </ul>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>
      $('.delete').click(function(e){
        var 글번호 = e.target.dataset.id;
        var 지금누른거 = $(this);

        $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: {_id: 글번호}
        }).done(function(결과){
          지금누른거.parent('li').fadeOut();
          alert(결과)

        }).fail(function(xhr, textStatus, errorThrown){
          alert(실패)

        })
      })

      $('.edit').click(function(e){
          var 글번호 = e.target.dataset.id;
          // console.log(글번호)

          $.ajax({
            method: 'GET',
          }).done(()=>{
            location.href=`/edit/${글번호}`;
          }).fail((err)=>{
            console.log(err)
          })
      })

      $('#search').click(function(e){
        console.log($('#search-input').val())
        let keyword = $('#search-input').val()

        window.location.replace('/search?value=' + keyword)
      })
    </script>
</body>

</html>